.column {
  margin: 0 8px;
  text-align: center;
}
.transparent {
  background-color: transparent;
}

.img2 {
  height: 60px;
  width: 60px;
  color: white;
}

.upImg2 {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 30px;
}
