.tableWrapper {
  margin-top: 40px;
  height: 500px;
  overflow-y: auto;
  padding: 16px;
}

.table {
  width: 100%;
  color: white;
  border-collapse: collapse;
}
.table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

table th,
td {
  text-align: left;
  padding: 8px;
}
.slotWrapper {
  border-radius: 8px;
}
.slotPicker {
  background-color: white;
  position: "relative";
  margin-top: 94px;
  height: 259px;
  width: 385px;
}
.slotItem {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: "BoyarskyMon";
  font-weight: bold;
  padding: 8px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 70px 40px -15px rgba(42, 39, 39, 0.7);
  z-index: 10;
}

.bottom-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 -70px 50px -15px rgba(42, 39, 39, 0.7);
  z-index: 10;
}

.top-shadow,
.bottom-shadow,
.slotPicker {
  border-radius: 32px;
}

.my-spinner {
  position: relative;
  border-radius: 50px;
  margin-right: 24px;
}

.jackpotMachine {
  position: relative;
  display: flex;
  justify-content: center;
}

.jackpot {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
}

.firework-animation-left {
  position: absolute;
  left: 5%;
  width: 300px;
  z-index: 30;
  transition: opacity 0.3s ease-in-out;
}

.firework-animation-right {
  position: absolute;
  right: 5%;
  width: 300px;
  z-index: 30;
  transition: opacity 0.3s ease-in-out;
}

.firework-animation-top {
  width: 400px;
  position: absolute;
  top: 0;
  left: 37%;
  z-index: 30;
  transition: opacity 0.3s ease-in-out;
}

.firework-animation-bottom {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 30;
  transition: opacity 0.3s ease-in-out;
}
